@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(to left, transparent, #000),
    url("https://images.pexels.com/photos/403495/pexels-photo-403495.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"),
    no-repeat top center;
  background-size: cover;
}

.bg-gradient {
  position: inherit;

  width: 100vw;
  background: linear-gradient(to left, transparent, #000);
  z-index: 100;
  opacity: 0.5;
  top: 0;
}

.font {
  font-family: monospace !important;
  font-weight: 900;
}
body {
  background: rgb(247, 246, 246);
}
.icons {
  transition: all 0.4s;
}
.icons:hover > img {
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

@media screen and (min-width: 1600px) {
  .carou {
    width: 400px;
    height: 600px;
  }
}

.upptext {
  font-family: "Times New Roman", Times, serif;
}
