@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(to left, transparent, #000),
    url("../images/hero1.jpg"), no-repeat top;
  background-size: 100% 100%;
}

.bg-gradient {
  position: inherit;

  width: 100vw;
  background: linear-gradient(to left, transparent, #000);
  z-index: 100;
  opacity: 0.5;
  top: 0;
}

.hero-text {
  color: white;
  -webkit-text-fill-color: transparent; /* Witrll override color (regardless of order) */
  -webkit-text-stroke: 3px white;
}
